@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0
}

body{
    background-color: #439CEF;
    user-select: none;
    overflow-x: hidden;
    font-family: "Poppins" ;
    color: #292929;
  
   
}

nav a{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
  

footer{
    height: 80px;
}



.quadrodeperguntas{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    animation: quadrodeperguntasanimation 1s forwards;
    
}

.reset{
    animation: reset;
}


.resposta{
    margin-top: 15px;
    width: 460px;
    height: 61px;
    font-size: 23px;
    border-top: 4px solid rgb(5, 145, 238) ;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
   border: none;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px -1px 15px #1f1f1f;
   

    
    
}


.resposta span{
    font-weight: bolder;
    
}


#pergunta{
    background-color: white;
    min-width: 70%;
    max-width: 50%;
    color: rgb(27, 27, 27);
    border-radius: 15px;
    padding: 35px;
    margin-bottom: 150px;
    box-shadow: 1px -1px 15px #1f1f1f;
    font-size: 12px;
    margin-top: 50px;

}



.npergunta{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    border-radius: 100%;
    background-color: white;
    margin-bottom: -85px;
    z-index: 1;
    left: 45%;
    text-align: center;
    vertical-align: middle;
    line-height: 2.1;
    font-size: 65px;
    font-weight: 600;
    padding: 5px;
    box-shadow: 0px -9px 2px 1px #1f1f1f;
    animation: nperguntasanimation 1s forwards;
  
}

.shakeerror{

    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;

  }

 
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

#perfunta h1{
   
    font-size: 25px;
}

.alternative{
    float: left;
    margin-left: -16px;
    margin-top: -15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 14.5px;
    background-color: #7FCDCD;
   
}



.alternative2{
    float: left;
    margin-left: -16px;
    margin-top: -15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 14.5px;
    background-color: rgb(172, 92, 247);
}



.alternative3{
    float: left;
    margin-left: -16px;
    margin-top: -15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 14.5px;
    background-color:#EFC050;
}



.alternative4{
    float: left;
    margin-left: -16px;
    margin-top: -15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 14.5px;
    background-color:  #C3447A;
}



.finishoff{
    width: 400px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* This is a shorthand of                                   translateX(-50%) and translateY(-50%) */
    box-shadow: 1px 1px 25px rgb(54, 54, 54);
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    display: none;
    
 
}

.finishon{
    width: 400px;
    height: 200px;
    background-color: white;
    position: absolute;
    display: block;
    top: 150%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 25px rgb(54, 54, 54);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    border-radius: 5px;
    animation: finishanimation 0.5s forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    z-index: 3;

}


#name{
    font-weight:bold;
}

button{
    border-radius: 5px;
    
}


@keyframes finishanimation {
    from {top: 0;}
  to {top: 50%;}
}

@keyframes quadrodeperguntasanimation {
  from { margin-left:-100%;}
  to { margin-left: 0;}
}



.finish p:first-child{
    margin-top: 50px;
}

.jogardenovo{
    padding: 14px;
    background-color:rgb(5, 145, 238) ;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    width: 70%;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    margin-left: -2px;
    border-bottom:rgb(3, 90, 148) 6px solid ;  
}


.jogardenovo:hover{
    background-color:rgb(6, 125, 204);
}

#finish .jogardenovo{
    margin-bottom: 5px;
    
}

#pts, #nivel{
    color: rgb(5, 145, 238);
    font-weight: 800;
}


#playername{
    width: 350px;
    height: 250px;
    position: absolute;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
   
}

.playernameoff{
   
    animation: playernameanimation 2s forwards;
}


@keyframes playernameanimation {
    0% { left: 50%;}
    50% { left: 150%;visibility: hidden;}
    100% {visibility: hidden;}
  }



.roww{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

}


#playername input{
padding: 15px;
width: 70%;
margin-top: 0px;
border: 2px solid black;
font-weight: 600;
font-size: 18px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
justify-content: center;

}

#playername ct:focus{
     outline: none;
    }

#começar{
    margin-top: 0px;
    max-width: 80px;
    border: 2px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

#começar:hover{
    background-color: rgb(7, 134, 219);
    animation: arrowanimation 1s infinite ease;
}



.resposta11{
    font-size: 12px;
    line-height: 32px;
}

@keyframes arrowanimation {
  0% { padding-left: 0px;}
  20% { padding-left: 10px;}
  30% { padding-left: 20px;}
  40% { padding-left: 25px;}
  60% { padding-left: 20px;}
  80% { padding-left: 10px;}
  100% { padding-left: 0px;}
}


@keyframes nperguntasanimation {
  from { left: -100%;}
  to { left: 50%;}
}


.bardiv{
    position: absolute;
    height: 10px;
    width: 50%;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgb(5, 125, 206);
    border-radius: 25px;
    margin: auto;
    display: none;
    overflow: hidden;
   
}

@keyframes brilhodabarra {
  10% {filter: brightness(100%);}
  20% {filter: brightness(104%);}
  30% {filter: brightness(107%);}
  40% {filter: brightness(110%);}
  50% {filter: brightness(113%);}
  60% {filter: brightness(115%);}
  70% {filter: brightness(110%);}
  80% {filter: brightness(105%);}
  90% {filter: brightness(101%);}
  100% {filter: brightness(100%);}

}

.bar{
    height: 10px;
    width: 0px;
    background: repeating-linear-gradient(-45deg,#ffd23d,#ffd23d 15px,#fac30e 15px,#fac30e 30px);
    border-radius: 25px;
    animation: brilhodabarra 1s infinite linear ;
    transition: 1s;
  
}

#finish{
        min-width: auto;
        font-size: 25px;
        height: auto;
        margin-top: 50px;
        
    }

#finish p{
    margin-top: 15px;
}

#voltarinicio{
    margin-top: 25px;
}

.quizes:nth-child(4){

    margin-bottom: 150px;
}



.porcentagem{
 font-weight: 600;
 color: white;
 position: absolute;
 top: 65px;
 text-shadow: 1px 1px black;
 font-size: 22px;
 display: none;
 animation: quadrodeperguntasanimation 1s forwards;
}

.barbox{
    height: 25px;
    width: 45%;
    margin: auto;
    margin-bottom: -35px;
    margin-top: 25px;
    
}

.quadrodequizes{

display: none;
grid-template-columns: 350px 350px;
gap: 50px;
position: absolute;
top: 120%;
left: 50%;
transform: translate(-50%, -50%);
transition: 1s;
visibility: visible;

}

.quadrodequizesanimado{
animation: nperguntasanimation 2s forwards;
}

.quizes{
    width: 350px;
    height: 450px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(4, 109, 179);
    border-radius: 5px;
    
    
    
}

.quizes:hover{
  transform: scale(1.1);
  transition: .2s;
}

.quizes:not(:hover){
    transform: scale(1.0);
  transition: .2s;
}

.quizes div{
  text-align: center;
  width: 96.5%;
  height: 47%;
  font-size: 20px;
  padding: 8px;
  padding-top: 0px;
  margin-top: -6px;;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.quizes p{
    text-align: left;
    margin-top: -1px;
}

.titulo{
    font-weight: 600;
    margin-bottom: 5px;
    padding-top: 10px;
    

}

.description{
    font-size: 15px;
    color: rgb(95, 95, 95);
}

.selectquiz{
    background-color: white;
    color: rgb(5, 125, 206);
    border: rgb(5, 125, 206) 2px solid;
    padding: 10px;
    width: 150px;
    position: absolute;
    bottom: 15px;
    left: 103px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
   border-radius: 5px;
  
}

.selectquiz:hover{
    background-color: rgb(5, 125, 206);
    color: white;
    transition: .2s;
}

.quizesimage{
    width: 100%;
    height: 50%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
   

}

.quadrodequizes input{
    display: none;
}


.boxquizes h1{
    text-align: center;
    color: white;

}

.your-class::-webkit-input-placeholder {
    color: rgb(255, 68, 68)
 }

 #titulo{
    font-size: 4vw;
    margin-top: 10%;
    
 }

 footer{
    width: 80%;
    height: 100px;
    position: absolute;
    bottom: -120vh;
    display: none;
}

#nameweb{
    color: rgb(5, 125, 206);
    font-size: 45px;
}

.status{
    color: rgb(135, 211, 22);
    font-weight: 600;
   position: relative;
   top: 20px;

    
}

.mark{
    position: absolute;
    top: 7px;
    left: 20px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    
    
}
   
nav{
    position: fixed;
    background-color:#439CEF; ;
    height: 50px;
    width: 100%;
    top: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.315);
    z-index: 2;
  
}

.fa-arrow-rotate-left, .fa-house{
margin-left: 5px;
font-size: 20px;
font-weight: 600;
}

@media (min-width:1600px){
    
.titulo{
    font-size: 35px;
    
}

.status{
    font-size: 40px;
}

.description{
    font-size: 25px;
}
    
.quadrodequizes{

top: 150%;
grid-template-columns: 550px 550px;
gap: 100px;
}

.quizes{
    width: 550px;
    height: 650px;
 
}

.selectquiz{
   
    left: 35%;
   
}

footer{
    width: 80%;
    height: 100px;
    position: absolute;
    bottom: -220vh;
}



}

@media (min-width: 900px){

    #resposta1{
    box-shadow: inset 0 0 0 0  #7FCDCD;;
    -webkit-transition: ease-out 0.1s;
  -moz-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
}

#resposta1:hover{
   
    transition: .6s;
    box-shadow: inset 500px 0 0 0   #7FCDCD;
    

}

#resposta2{
    box-shadow: inset 0 0 0 0  rgb(172, 92, 247);;
    -webkit-transition: ease-out 0.1s;
  -moz-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
}

#resposta2:hover{
   
    transition: .6s;
    box-shadow: inset 500px 0 0 0   rgb(172, 92, 247);
    

}

#resposta3{
    box-shadow: inset 0 0 0 0  #EFC050;;;
    -webkit-transition: ease-out 0.1s;
  -moz-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
}

#resposta3:hover{
   
    transition: .6s;
    box-shadow: inset 500px 0 0 0   #EFC050;;
    

}

#resposta4{
    box-shadow: inset 0 0 0 0  #C3447A;
    -webkit-transition: ease-out 0.1s;
  -moz-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
  margin-bottom: 100px;
}

#resposta4:hover{
   
    transition: .6s;
    box-shadow: inset 500px 0 0 0   #C3447A;
    

}


}

@media (max-width: 963px ){

    #titulo{
        font-size: 6vw;
    }

.quadrodequizes{

margin-top: 450px;
grid-template-columns: 350px;
gap: 50px;
top: 150%;

}

footer{
    
    bottom: -280vh;
    
}

}

@media(max-width: 794px){

 
    #titulo{
    font-size: 7vw;
    margin-top: 20%;
    
 }

#finish{
        width: 60%;
        font-size: 20px;
        
}  

}


@media (max-width: 499px ){

#pergunta{
    font-size: 8px;
}

  .quizes:hover{
  transform: scale(1.0);
}
    
.selectquiz{
   
   position: absolute;
   left: 10%;
   bottom: 2%;
   width: 80%;
   text-align: center;
   font-size: 4vw;
}

#titulo{
    font-size: 27px;
    margin-top: 20%;
}

.jogardenovo{
    width: 80%;
}


.quadrodequizes{

grid-template-columns: 350px;
gap: 50px;
top: 90%;
margin-top: 250px;


}


    .quizes{
    width: 350px;
    height: 450px;
  
    
}


    .bardiv{

    width: 80%;
  
    
}

.barbox{

    width: 75%;

}

    #finish{
        width: 80%;
        font-size: 5vw;
       
    }

    #finish button{
        font-size: 5vw;
    }
    

    .resposta{
    margin-top: 15px;
    width: 90%;
    height: 61px;
    font-size: calc(0.55em + 1vmin);
    border-top: 4px solid rgb(5, 145, 238) ;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
   border: none;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0px 15px 2px #0836C1;
    line-height: 30px;
    
    
}

#resposta4{
    margin-bottom: 50px;
}

.alternative{
    float: left;
    margin-left: -10px;
    margin-top: -15px;
    height: 27px;
    line-height: 28px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
   
}

.alternative2{
    float: left;
    margin-left: -10px;
    margin-top: -15px;
    height: 27px;
    line-height: 28px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
    
}

.alternative3{
    float: left;
    margin-left: -10px;
    margin-top: -15px;
    height: 27px;
    line-height: 28px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;

}

.alternative4{
    float: left;
    margin-left: -10px;
    margin-top: -15px;
    height: 27px;
    line-height: 28px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
   
}

}



@media (max-width: 414px ){

.quadrodequizes{

grid-template-columns: 80vw;
gap: 50px;
margin-top: 200px;


}




.quizes{
width: 80vw;
height: 105vw;
  
    
}

  
.resposta{
margin-top: 15px;
width: 90%;
height: 61px;
border-top: 4px solid rgb(5, 145, 238) ;
background-color: white;
color: black;
border-radius: 8px;
padding-top: 15px;
padding-bottom: 15px;
border: none;
cursor: pointer;
font-weight: 600;
box-shadow: 1px 0px 15px 2px #0836C1;
line-height: 30px;


}

footer{
   
    bottom: -250vh;
    
}


}


@media (max-width: 383px ){

    .quizes{
  
    height: 115vw;
  
    
}

.description{
    font-size: 13px;
}

.quadrodequizes{
    margin-top: 200px;
}


    #nameweb{
    color: rgb(5, 125, 206);
    font-size: 35px;
}

    #playername{
    width: 90%;
    height: 200px;
    font-size: 18px;
}

    .resposta11{
        font-size: 10px ;
    }

}

@media (max-width: 330px ){
    ::-webkit-input-placeholder { /* Edge */
  font-size: 80%;
}

    .quizes{
        height: 400px;
    }

    .resposta11{
        font-size: 9                                                                                                               px ;
    }

    #titulo{
        font-size: 22px;
    }


}
