body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #439CEF;
    user-select: none;
    
   
}

footer{
    height: 80px;
}



.quadrodeperguntas{
    width: 100%;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    animation: quadrodeperguntasanimation 1s forwards;
    
  
}


.resposta{
    margin-top: 15px;
    width: 450px;
    height: 61px;
    font-size: 23px;
    border-top: 4px solid rgb(5, 145, 238) ;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
   border: none;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0px 15px 2px #0836C1;
    
    
}

.resposta:nth-child(2){
   

}

#pergunta{
    background-color: white;
    min-width: 70%;
    max-width: 50%;
    color: rgb(27, 27, 27);
    border-radius: 15px;
    padding: 35px;
    margin-bottom: 150px;
    box-shadow: 1px -1px 15px #1f1f1f;

}



.npergunta{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 45%;
    text-align: center;
    vertical-align: middle;
    line-height: 2.1;
    font-size: 65px;
    font-weight: 600;
    padding: 5px;
    box-shadow: 0px -9px 2px 1px #1f1f1f;
    animation: nperguntasanimation 1s forwards;
}

#perfunta h1{
   
    font-size: 25px;
}

.alternative{
    float: left;
    margin-left: -16px;
    margin-top: -15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
    background-color: rgb(243, 243, 155);
}

.alternative2{
    float: left;
    margin-left: -16px;
    margin-top: -15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
    background-color: rgb(172, 92, 247);
}

.alternative3{
    float: left;
    margin-left: -16px;
    margin-top: -15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
    background-color:rgb(137, 253, 253);
}

.alternative4{
    float: left;
    margin-left: -16px;
    margin-top: -15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
    background-color: rgb(255, 159, 255);
}

.finishoff{
    width: 400px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* This is a shorthand of                                   translateX(-50%) and translateY(-50%) */
    box-shadow: 1px 1px 25px rgb(54, 54, 54);
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    display: none;
    
 
}

.finishon{
    width: 400px;
    height: 600px;
    background-color: white;
    position: absolute;
    display: block;
    top: 90%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 25px rgb(54, 54, 54);
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    border-radius: 5px;
    animation: finishanimation 0.5s forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;

}

#finish{
    width: 90%;
    
}


#name{
    font-weight:bold;
}

button{
    border-radius: 5px;
    
}


@keyframes finishanimation {
    from {top: 0;}
  to {top: 50%;}
}

@keyframes quadrodeperguntasanimation {
  from { margin-left:-100%;}
  to { margin-left: 0;}
}



.finish p:first-child{
    margin-top: 50px;
}

.jogardenovo{
    border: none;
    padding: 8px;
    background-color:rgb(5, 145, 238) ;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    
}

.jogardenovo:hover{
    background-color: rgb(12, 112, 179) ;
}

.n{
    margin-bottom: 15px;
}


#pts, #nivel{
    color: rgb(141, 218, 27);
}


#playername{
    width: 350px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
   
    
}

.playernameoff{
   
    visibility: hidden;
}


#playername input{
padding: 8px;
width: 70%;
margin-top: 35px;
border: 2px solid black;
font-weight: 600;
font-size: 18px;
}

#começar{
    margin-top: 35px;
    width: 75%;
}


@keyframes nperguntasanimation {
  from { left: -100%;}
  to { left: 45%;}
}



@media (max-width: 475px ){


    

    .resposta{
    margin-top: 15px;
    width: 98%;
    height: 61px;
    font-size: 18px;
    border-top: 4px solid rgb(5, 145, 238) ;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
   border: none;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0px 15px 2px #0836C1;
    line-height: 30px;
    
    
}

#resposta4{
    margin-bottom: 50px;
}

.alternative{
    float: left;
    margin-left: -10px;
    margin-top: -15px;
    height: 27px;
    line-height: 28px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
    background-color: rgb(243, 243, 155);
}

.alternative2{
    float: left;
    margin-left: -10px;
    margin-top: -15px;
    height: 27px;
    line-height: 28px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
    
}

.alternative3{
    float: left;
    margin-left: -10px;
    margin-top: -15px;
    height: 27px;
    line-height: 28px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;

}

.alternative4{
    float: left;
    margin-left: -10px;
    margin-top: -15px;
    height: 27px;
    line-height: 28px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 17px;
   
}

}

@media (max-width: 355px ){


.resposta{
margin-top: 15px;
width: 98%;
height: 61px;
font-size: 12px;
border-top: 4px solid rgb(5, 145, 238) ;
background-color: white;
color: black;
border-radius: 8px;
padding-top: 15px;
padding-bottom: 15px;
border: none;
cursor: pointer;
font-weight: 600;
box-shadow: 1px 0px 15px 2px #0836C1;
line-height: 30px;


}


}
